/* styles.css */
.button {
  padding: 10px 24px; /* 控制按钮的内边距 */
  background-color: #b2c5e4; /* Google蓝色 */
  color: white; /* 文字颜色 */
  font-size: 16px; /* 字体大小 */
  border-radius: 8px; /* 圆角 */
  cursor: pointer; /* 鼠标变成手型 */
  font-weight: bold; /* 字体加粗 */
  transition: background-color 0.3s ease; /* 背景颜色变化效果 */
}

.button:hover {
  background-color: #b1c0e0; /* 鼠标悬停时改变背景颜色 */
}

.button:active {
  background-color: #2a56c6; /* 鼠标点击时的背景颜色 */
}
